---
const year = new Date().getFullYear();
const socialLinks = [
  { name: 'mastodon', url: 'https://hachyderm.io/@svetzal' },
  { name: 'github', url: 'https://github.com/svetzal' },
  { name: 'linkedin', url: 'https://linkedin.com/in/svetzal' },
];
---

<footer class="max-w-container mx-auto px-4 mt-8 pt-6 pb-8 text-sm">
  &copy; {year} Stacey Vetzal
  {' '}&bull;{' '}
  {socialLinks.map((link, i) => (
    <>
      <a
        href={link.url}
        target="_blank"
        rel="noopener noreferrer"
        class="text-primary hover:underline"
      >
        {link.name}
      </a>
      {i < socialLinks.length - 1 && <>{' '}&bull;{' '}</>}
    </>
  ))}
</footer>
